﻿@model MyFinancePlanner.Web.Models.Login

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="container">
    <div class="center-block" style="width: 400px;">
    @using (Html.BeginForm(new {@class="form-signin"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Login</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new {@class = "form-control",  required="required", autofocus="autofocus", PlaceHolder = "username"})
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password)
                @Html.PasswordFor(model => model.Password, new {@class = "form-control", PlaceHolder = "password"})
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="checkbox">
                <label>
                    @Html.EditorFor(model => model.SaveCreadentials)
                    Remember me</label>
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
        </fieldset>
    }
        
    </div>
</div>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
