﻿@model MyFinancePlanner.Web.Process.PaymentsDetail

<h2>Edit</h2>

<div class="col-lg-10 col-sm-6">
    @using (Html.BeginForm("Edit", "Payment", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        @Html.HiddenFor(model => Model.SelectedContract.Id)
        <input type="hidden" name="FinancialYearId" value="@Model.FinancialYearId"/>
        <article class="alert alert-info">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-md-6 control-label text-left">Group :</label>
                        <div class="col-md-6 dock">
                            <select name="GroupId" class="form-control">
                                <option value="">-- select --</option>
                                @foreach (var group in Model.Groups)
                                {
                                    <option value="@group.Id">@group.GroupName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ContractName" class="col-md-6 control-label text-left">Contract name :</label>
                        <div class="col-md-6 dock">
                            <input type="text" value="@Model.SelectedContract.ContractName" name="ContractName" id="ContractName" class="form-control"/>
                            <input type="hidden" name="ContractGuid" value="@Model.SelectedContract.LedgerContractGuid" id="ContractGuid" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="SelectContract" class="col-md-6 control-label text-left">Contracts :</label>
                        <div class="col-md-6 dock">
                            <select name="ContractId" id="SelectContract" class="form-control">
                                <option value="">-- select --</option>
                                @foreach (var group in Model.LedgerGroups)
                                {
                                    <optgroup label="@group.GroupName">
                                        @foreach (var contract in group.Contracts.OrderBy(x => x.ContractName))
                                        {
                                            <option value="@contract.Id" @if (Model.SelectedContract.LedgerContractGuid.Value == @contract.Id.Value)
                                                {
                                                    Response.Write("selected");
                                                }>@contract.ContractName</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="col-md-6 control-label text-left">Cost :</label>
                        <div class="col-md-6 dock">
                            <input type="number" step="any" min="0" value="@Model.SelectedContract.Cost" name="cost" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                <!--
                <label class="col-md-6 control-label dock text-left">Expected date :</label>
                <p class="col-md-6 form-control-static">@Model.SelectedContract.ExpectedDate.ToString("dd-MM-yyyy")</p>
                -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Processing date :</label>
                        <div class="input-group date col-sm-6 datetimepicker">
                            <input type="text" name="ProcessingDate" class="form-control" value="@Model.SelectedContract.ProcessingDate"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="" class="col-sm-6 control-label">Interest date :</label>
                        <div class='input-group date col-sm-6 datetimepicker'>
                            <input type="text" name="InterestDate" class="form-control" value="@Model.SelectedContract.InterestDate"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <button class="btn btn-success" name="button" value="save">Save</button>
                @Html.ActionLink("Cancel", "Index", "Payment", new {@class="btn btn-danger"})
                <button class="btn btn-danger" name="button" value="delete">Delete</button>
            </footer>
        </article>
    }
</div>
