﻿@using System.Globalization
@model MyFinancePlanner.Web.Process.GetTransactions

@{
    ViewBag.Title = "Transactions";
    var culture = new CultureInfo("nl-NL");
    var month = string.Empty;
}

<h2>@Model.FinancialYear.Title</h2>

<table class="table table-striped">
    @foreach (var transaction in Model.Transactions)
    {
        
        if (month != transaction.ProcessingDate.ToString("MM"))
        {
            month = transaction.ProcessingDate.ToString("MM");
            <tr>
                <td colspan="5" class="info">@transaction.ProcessingDate.ToString("MMMM", culture)</td>
            </tr>
        }
    <tr>
        <td class="col-md-2">@transaction.ProcessingDate.ToLocalTime().ToString("dd-MM")</td>
        <td class="col-md-4">@transaction.ContractName</td>
        <td class="col-md-2 right">@transaction.Cost.ToString("C", culture)</td>
        <td class="col-md-4">@transaction.GroupName</td>
        <td class="col-md-1">
            @Html.ActionLink("Detail", "Edit", "Payment", new {id=@transaction.ContractId}, new {@class="btn btn-success"})
        </td>
    </tr>        
    }
</table>