﻿@using MyFinancePlanner.LedgerEntries.Utils
@model MyFinancePlanner.Web.Process.GetGetLedgerContract

@{
    ViewBag.Title = "ContractDetail";
}

<h2>ContractDetail</h2>

<div class="col-lg-10 col-sm-6">
    <article class="alert alert-info">
    @using (Html.BeginForm("ContractDetail", "Group", FormMethod.Post, new {@class = "form-horizontal"}))
    {
        <div class="row">
            <div class="form-group">
                <label for="" class="col-md-2 control-label text-left">Group :</label>
                <input type="text" value="@Model.Group.GroupName"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="" class="col-md-2 control-label text-left">Contractname :</label>
                <input type="text" value="@Model.Contract.ContractName"/>
            </div>
        </div>
        <div class="row">
            @Html.CreateCalender();
        </div>
    }
    </article>
</div>

