﻿@model IEnumerable<MyFinancePlanner.LedgerEntries.Domain.Abstract.IGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Ledger group and contracts</h2>

<table class="table">
    @foreach (var group in Model)
    {
        <tr>
            <td class="info" colspan="3">@Html.ActionLink(group.GroupName, "Edit", "Group", new {id = group.Id}, new {@class = "success"})</td>
            <td class="info">@Html.ActionLink("Detail", "Edit", "Group", new {id = group.Id}, new {@class = "btn btn-success"})</td>
        </tr>
        foreach (var contract in group.Contracts.OrderBy(x => x.ContractName))
         {
             <tr>
                 <td>@contract.ContractName</td>
                 <td>@contract.Cost</td>
                 <td>@contract.ExpiredOn</td>
                 <td>@Html.ActionLink("Detail", "ContractDetail", "Group", new {id = contract.Id}, new {@class = "btn btn-default"})</td>
             </tr>
         }
    }
</table>