﻿<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Finance Planner - @ViewBag.Title</title>
    @Styles.Render("~/libs/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css" >
     <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">My Finance Planner</a>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li>@Html.ActionLink("Transactions", "Index", "Payment")</li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Maintenance <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Createbook year</a></li>
                        <li role="separator" class="divider"></li>
                        <li>@Html.ActionLink("Groups", "Index", "Group")</li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">User</a></li>
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Create payment", "Create", "Payment")</li>
              </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()
</div>


@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", required: false)

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript" src="/libs/js/moment.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/libs/js/local.js"></script>
</body>
</html>
