﻿@using System.Globalization
@model MyFinancePlanner.Web.Process.StartHomepage

@{
    ViewBag.Title = "Home";
    var culture = new CultureInfo("nl-NL");
}
<h2>MyFinancePlanner</h2>

<div class="col-lg-10 col-sm-6">
    @foreach (var payment in Model.Payments)
    {
        using (Html.BeginForm("Edit", "Payment", new { id = payment.ContractId }, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => payment.ContractId)
            <input type="hidden" name="GroupId" value="@payment.GroupId" />
            <input type="hidden" name="FinancialYearId" value="@payment.FinancialYearId" />
            <article class="alert alert-info">
                <header class="row">
                    <h3 class="col-md-12">@payment.ContractName</h3>
                </header>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="col-md-6 control-label text-left">Cost :</label>
                            <div class="col-md-6 dock">
                                <input type="number" step="any" min="0" value="@payment.Cost" name="cost" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-md-6 control-label dock">Expected date :</label>
                        <p class="col-md-6 form-control-static">@payment.ExpectedDate.ToLocalTime().ToString("dd-MM-yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Processing date :</label>
                            <div class="input-group date col-sm-6 datetimepicker">
                                <input type="text" name="ProcessingDate" class="form-control" value="@payment.ExpectedDate.ToLocalTime().ToString("dd-MM-yyyy")" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="" class="col-sm-6 control-label">Interest date :</label>
                            <div class='input-group date col-sm-6 datetimepicker'>
                                <input type="text" name="InterestDate" class="form-control" value="@payment.InterestDate" />
                                <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <button class="btn btn-success" name="button" value="save">Save</button>
                    <button class="btn btn-danger" name="button" value="delete">Delete</button>
                </footer>
            </article>
            }
    }
</div>
<div class="col-lg-2">
    <div class="row">
        <h2>Balance</h2>
        @Model.Balance.CurrentBalance.ToString("C", culture)<br/>
        @Model.Balance.EstimateBalance.ToString("C", culture)
    </div>
    <div class="row">
        <h3>Ending contracts</h3>
    </div>

    
</div>
